html {
	font-size: var(--main-font-size);
}

body {
	font-family: var(--font-family-base);
	font-style: normal;
	font-weight: 400;
	font-variant-numeric: lining-nums;
	background-image: url(/public/images/bg/weather.jpeg);
	background-color: rgb(168, 163, 163);
	background-position: 50% 55%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow-x: hidden;
}

.container {
	margin-inline: auto;
	max-width: var(--container-width);
	padding-block: var(--container-padding-y);
	padding-inline: var(--container-padding-x);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.visibility-hidden {
	visibility: hidden;
	opacity: 0;
}

.disabled {
	opacity: 0.3;
}

@media (max-width: 1279px) {
	.container {
		padding-inline: 3.2rem;
	}
}

@media (max-width: 1023px) {
	.container {
		padding-inline: 2.4rem;
	}
}

@media (max-width: 767px) {
	.container {
		padding-inline: 1.6rem;
	}
}
