.slider {
	display: flex;
	flex-direction: column;
	row-gap: 31px;
	padding: 3.2rem;
}

.menu-wrap {
	display: flex;
	column-gap: 32px;
	min-height: 33px;
}

.menu-title {
	font-size: 2.4rem;
	line-height: 1.3;
	font-weight: 700;
}

.menu {
	display: flex;
	column-gap: 32px;
	padding-left: 0;
	margin-block: 0;
}

.menu__item {
	display: flex;
	list-style-type: none;
}

.menu__button {
	display: flex;
	align-items: flex-end;
	border: 0;
	padding: 0 0 3px 0;
	text-align: end;
	font-variant-numeric: lining-nums;
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 1.2;
	color: var(--color-gray);
	border-bottom: 2px solid transparent;
	background-color: transparent;
	cursor: pointer;
}

.menu__button:not(.button-active):hover {
	opacity: 0.8;
}

.button-active {
	border-bottom: 2px solid var(--main-color-opacity-1);
	color: var(--main-color-opacity-1);
	transition: all 0.2s ease-in-out;
}

.switch {
	position: relative;
	display: flex;
	justify-content: space-between;
	column-gap: 3.2rem;
	align-items: center;
}

.switch-wrap {
	position: relative;
	width: 84%;
	height: 64px;
	mask-image: linear-gradient(
		90deg,
		transparent,
		#000 0,
		#000 95%,
		transparent 100%
	);
	overflow: hidden;
}

.switch__lists {
	position: absolute;
	display: flex;
	column-gap: 16px;
	width: 300vw;
	transition: transform 0.6s;
}

.switch__lists.visibility-hidden {
	visibility: hidden;
}

.switch__arrow:not(.disabled):hover {
	opacity: 0.8;
}

.switch__arrow {
	position: relative;
	min-width: 56px;
	min-height: 48px;
	border: none;
	border-radius: var(--border-radius);
	background-color: var(--main-color);
	cursor: pointer;
}

.arrow-left:after,
.arrow-right:after {
	content: '';
	position: absolute;
	display: block;
	width: 14px;
	height: 14px;
	border-left: 2px solid var(--arrow-main-color);
	border-bottom: 2px solid var(--arrow-main-color);
}

.arrow-left:after {
	top: calc(50% - 8px);
	left: calc(50% - 4px);
	transform: rotate(45deg);
}

.arrow-right:after {
	top: calc(50% - 8px);
	left: calc(50% - 11px);
	transform: rotate(226deg);
}

.switch__item {
	list-style-type: none;
}

.switch-card {
	display: flex;
	align-items: center;
	column-gap: 16px;
	padding: 16px;
	font-size: 1.6rem;
	line-height: 1.25;
	color: rgba(32, 32, 32, 1);
	border-radius: var(--border-radius);
	background-color: var(--main-color);
}

@media (max-width: 1023px) {
	.slider {
		row-gap: 23px;
		padding: 2.4rem;
	}

	.switch__lists {
		column-gap: 12px;
	}

	.switch {
		column-gap: 24px;
	}

	.menu-wrap {
		column-gap: 24px;
	}

	.menu {
		column-gap: 24px;
	}
}

@media (max-width: 885px) {
	.switch-wrap {
		height: 136px;
	}

	.switch-card {
		flex-direction: column;
		row-gap: 16px;
	}
}

@media (max-width: 767px) {
	.slider {
		row-gap: 16px;
		padding: 1.6rem;
	}

	.switch-card {
		flex-direction: row;
		column-gap: 12px;
	}

	.switch {
		column-gap: 16px;
	}

	.switch-wrap {
		height: 48px;
	}

	.switch-card {
		padding: 1.2rem;
		font-size: 1.2rem;
	}

	.switch-card__image-icon {
		width: 24px;
		height: 24px;
	}

	.switch__lists {
		column-gap: 8px;
	}

	.menu-wrap {
		column-gap: 16px;
		min-height: 23px;
	}

	.menu {
		column-gap: 16px;
	}

	.menu-title {
		font-size: 1.6rem;
	}

	.menu__button {
		font-size: 1.2rem;
		border-bottom: 1px solid transparent;
	}

	.button-active {
		border-bottom: 1px solid var(--main-color-opacity-1);
	}

	.switch__arrow {
		min-width: 40px;
		min-height: 32px;
	}

	.arrow-left:after,
	.arrow-right:after {
		width: 10px;
		height: 10px;
		border-left: 2px solid var(--arrow-main-color);
		border-bottom: 2px solid var(--arrow-main-color);
		top: calc(50% - 5px);
	}
	.arrow-left:after {
		left: calc(50% - 4px);
	}

	.arrow-right:after {
		left: calc(50% - 7px);
	}
}

@media (max-width: 639px) {
	.switch-card {
		flex-direction: column;
		row-gap: 13px;
	}
	.switch-wrap {
		height: 104px;
	}
}
