.widget-lists {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	width: 506px;
	list-style-type: none;
}

.widget-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 1.6rem;
	width: 158px;
	height: 196px;
	border-radius: var(--border-radius);
	background-color: var(--main-color);
}

.widget-item__bar {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 7px;
	line-height: 1.3;
}

.progress-bar__input {
	appearance: none;
	width: 100%;
	height: 8px;
	border-radius: 15px;
	outline: none;
	background: var(--widget-input-color);
	overflow: hidden;
}

.input-gradient {
	background: radial-gradient(
		circle,
		rgba(84, 84, 84, 0.4),
		rgba(138, 138, 138, 0.4) 45.123%,
		rgb(218, 218, 218) 100%,
		rgba(218, 218, 218, 0.4) 100%
	);
}

.progress-bar__input::-webkit-slider-thumb {
	appearance: none;
	height: 8px;
	width: 8px;
	border-radius: 50%;
	background-color: var(--color-thumb);
	outline: 2px solid rgba(138, 138, 138, 0.1);
}

.progress-bar__input::-moz-range-thumb {
	appearance: none;
	height: 8px;
	width: 8px;
	border-radius: 50%;
	background-color: var(--color-thumb);
	outline: 2px solid rgba(138, 138, 138, 0.1);
}

.progress-bar {
	font-size: 1.2rem;
}

.progress-bar__percent {
	display: flex;
	justify-content: space-between;
	width: 100%;
	color: #393939;
}

.widget-item__title {
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.25;
	color: #202020;
}

.progress-bar__title {
	display: none;
	text-align: center;
	color: #393939;
}

.bar-title-pb {
	padding-bottom: 1.7rem;
}

.widget-item__scale {
	font-size: 3.2rem;
	line-height: 1;
	color: #202020;
}

@media (max-width: 1023px) {
	.widget-lists {
		justify-content: center;
		gap: 12px;
	}
	.widget-item {
		max-width: 163px;
	}
}

@media (max-width: 767px) {
	.widget-lists {
		gap: 8px;
		/* width: 400px; */
	}
	.widget-item {
		padding: 1.2rem;
		width: 128px;
		height: 148px;
	}
	.widget-item__title {
		font-size: 1.2rem;
	}
	.widget-item__scale {
		font-size: 22px;
	}
	.progress-bar {
		font-size: 1rem;
	}
	.widget-item__icon {
		width: 24px;
		height: 24px;
	}
	.bar-title-pb {
		padding-bottom: 1.2rem;
	}
	.progress-bar__input {
		height: 6px;
	}
	.progress-bar__input::-webkit-slider-thumb {
		height: 6px;
		width: 6px;
	}

	.progress-bar__input::-moz-range-thumb {
		height: 6px;
		width: 6px;
	}
}

@media (max-width: 639px) {
	.widget-item {
		width: 98px;
		height: 148px;
	}
	.widget-lists {
		width: 311px;
	}
}

@media (max-width: 370px) {
	.widget-lists {
		width: 250px;
	}
}
